@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="bpm.sysmanageApp">
<head>
    <meta http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,user-scalable=no" />
    <title>系统管理</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <link rel="shortcut icon" href="@Url.Content("~/Content/login/lmlogo.png")" />
    <link href="@Url.Content("~/Content/bootstrap/dist/css/bootstrap.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootwatch/cerulean.bootstrap.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/main.css")" type="text/css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/zTree/dist/css/zTreeStyle/zTreeStyle.css")" type="text/css" rel="stylesheet" />

    @Styles.Render("~/css/anstrap")

</head>
<body>
    @if (ViewBag.IsLoginMode)
    {
        <div yl-navigation-layout data-module-text="系统管理" data-module-name="EicSystemManage"></div>
    }
    else
    {
        <div>
            <header role="banner">
                <nav role="navigation" class="navbar navbar-static-top navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                <span>
                                    <img alt="光圣科技（宁波）有限公司" title="光圣科技（宁波）有限公司"
                                         src="@Url.Content("~/Content/login/lmlogo.png")" />企业信息化平台(V1.0)
                                </span>
                            </a>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">配置管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="bs-callout bs-callout-info">
                            <h4><span class="fa fa-list-ul">导航菜单</span></h4>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ol class="rounded-list">
                                    <li>
                                        <a data-ui-sref-active="active" data-ui-sref="itilProjectDevelopManage" style="cursor:pointer">项目开发管理</a>

                                        <a data-ui-sref-active="active" data-ui-sref="itilMessageNotifyManage" style="cursor:pointer">消息通知模块管理</a>

                                        <a data-ui-sref-active="active" data-ui-sref="itilEmailManage" style="cursor:pointer">邮箱管理</a>

                                        @*<a data-ui-sref-active="active" data-ui-sref="accRegistUser" style="cursor:pointer">用户注册</a>
                                            <a data-ui-sref-active="active" data-ui-sref="sysRoleManage" style="cursor:pointer">角色管理</a>
                                            <a data-ui-sref-active="active" data-ui-sref="sysRoleAssignManage" style="cursor:pointer">角色分配</a>
                                            <a data-ui-sref-active="active" data-ui-sref="accAssignRoleToUser" style="cursor:pointer">添加角色与用户</a>
                                            <a data-ui-sref-active="active" data-ui-sref="sysModuleEdit" style="cursor:pointer">模块管理</a>
                                            <a data-ui-sref-active="active" data-ui-sref="sysAssemblyEdit" style="cursor:pointer">程序集编辑</a>
                                            <a data-ui-sref-active="active" data-ui-sref="assignPowerToRole" style="cursor:pointer">分配权限</a>
                                            <a data-ui-sref-active="active" data-ui-sref="assignModuleToRole" style="cursor:pointer">分配菜单</a>*@
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div data-ui-view>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    }

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angularJs")

    <script src="@Url.Content("~/Content/ztree/dist/js/jquery.ztree.all.min.js")"></script>

    @Scripts.Render("~/bundles/anstrap")

    <script src="@Url.Content("~/Scripts/common/angulee.js")"></script>

    <script src="@Url.Content("~/Scripts/common/commDirective.js")"></script>

    <script src="@Url.Content("~/Scripts/controller/masterProduct/mpConfigApp.js")"></script>

    <script src="@Url.Content("~/Scripts/controller/sysmanage/sysmanageApp.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/sysmanage/sysConfigManage.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/sysmanage/sysItilManage.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/sysmanage/sysAccountManage.js")"></script>
    <script type="text/javascript">
        function addezconn() {
            email = document.getElementById("myemail");
            email.value = email.value + "@@ezconn.cn";
        };






    </script>
</body>
</html>