@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="bpm.astApp">
<head>
    <meta http-equiv="Content-Type" />

    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">

    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,user-scalable=no" />
    <title>设备管理</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/login/lmlogo.png")" />

    <link href="@Url.Content("~/Content/bootstrap/dist/css/bootstrap.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootwatch/cerulean.bootstrap.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/main.css")" type="text/css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/zTree/dist/css/zTreeStyle/zTreeStyle.css")" type="text/css" rel="stylesheet" />

    @Styles.Render("~/css/anstrap")
</head>
<body ng-controller="moduleNavCtrl">
    @if (ViewBag.IsLoginMode)
    {
        <div ng-include="'@Url.Action("ModuleLayoutIndexTpl", "CommonTpl")'"></div>
    }
    else
    {
        <div>
            <header role="banner">
                <nav role="navigation" class="navbar navbar-static-top navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                <span>
                                    <img alt="光圣科技（宁波）有限公司" title="光圣科技（宁波）有限公司"
                                         src="@Url.Content("~/Content/login/lmlogo.png")" />企业信息化平台(V1.0)
                                </span>
                            </a>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">配置管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="bs-callout bs-callout-info">
                            <h4><span class="fa fa-list-ul">导航菜单</span></h4>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ol class="rounded-list">
                                    <li>
                                        <a data-ui-sref-active="active" data-ui-sref="astEquipmentInfoView" style="cursor:pointer">设备信息查询</a>
                                        <a data-ui-sref-active="active" data-ui-sref="astArchiveOverview" style="cursor:pointer">设备档案总览</a>
                                        <a data-ui-sref-active="active" data-ui-sref="astArchiveInput" style="cursor:pointer">设备档案登记</a>
                                        <a data-ui-sref-active="active" data-ui-sref="astScrapInput" style="cursor:pointer">设备报废登记</a>
                                        <a data-ui-sref-active="active" data-ui-sref="astBuildCheckList" style="cursor:pointer">生成校验清单</a>
                                        <a data-ui-sref-active="active" data-ui-sref="astBuildMaintenanceList" style="cursor:pointer">生成保养清单</a>
                                        <a data-ui-sref-active="active" data-ui-sref="astInputCheckRecord" style="cursor:pointer">登记校验记录</a>
                                        <a data-ui-sref-active="active" data-ui-sref="astInputMaintenanceRecord" style="cursor:pointer">登记保养记录</a>
                                        <a data-ui-sref-active="active" data-ui-sref="astInputRepairRecord" style="cursor:pointer">登记设备维修</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div data-ui-view>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    }

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angularJs")

    <script src="@Url.Content("~/Content/ztree/dist/js/jquery.ztree.all.min.js")"></script>

    @Scripts.Render("~/bundles/anstrap")

    <script src="@Url.Content("~/Scripts/common/eloam.js")"></script>

    <script src="@Url.Content("~/Scripts/common/angulee.js")"></script>

    <script src="@Url.Content("~/Scripts/common/commDirective.js")"></script>

    <script src="@Url.Content("~/Scripts/controller/masterProduct/mpConfigApp.js")"></script>

    <script src="@Url.Content("~/Scripts/controller/ast/equipmentApp.js")"></script>
</body>
</html>
