@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="bpm.purchaseApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>采购管理</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/login/lmlogo.png")" />

    <link href="@Url.Content("~/Content/bootstrap/dist/css/bootstrap.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootwatch/cerulean.bootstrap.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/main.css")" type="text/css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/zTree/dist/css/zTreeStyle/zTreeStyle.css")" type="text/css" rel="stylesheet" />

    @Styles.Render("~/css/anstrap")
</head>
<body ng-controller="moduleNavCtrl">

    @if (ViewBag.IsLoginMode)
    {
        <div ng-include="'@Url.Action("ModuleLayoutIndexTpl", "CommonTpl")'"></div>
    }
    else
    {
        <div>
            <header role="banner">
                <nav role="navigation" class="navbar navbar-static-top navbar-inverse" ng-cloak>
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                <span>
                                    <img alt="光圣科技（宁波）有限公司" title="光圣科技（宁波）有限公司"
                                         src="@Url.Content("~/Content/login/lmlogo.png")"
                                         style="margin-left: -50px;margin-top: -5px;background-color: whitesmoke;height: 28px;width: 32px;border-radius: 5px;margin-right: 3px;" />
                                    企业信息化平台(V1.0)
                                </span>
                            </a>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">生产管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="container-fluid">
                <div class="row" ng-cloak>
                    <div class="pull-left" style="width:{{navLayout.navLeftSize}};" ng-show="navLayout.navViewSwitch">
                        <div class="bs-callout bs-callout-info">
                            <h4>
                                <span class="fa fa-list-ul">导航菜单</span>
                                <span class="pull-right">
                                    <span class="badge" ng-click="navLayout.switchView()" title="点击折叠导航面板" style="cursor:pointer"><i class="fa fa-hand-o-left"></i></span>
                                </span>
                            </h4>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ol class="rounded-list">
                                    <li>
                                        @*实验版导航，待添加*@                                        
                                       
                                        <a data-ui-sref-active="active" data-ui-sref="supplierCertificateManage" style="cursor:pointer">供应商证书管理</a>
                                        <a data-ui-sref-active="active" data-ui-sref="supplierEvaluationManage" style="cursor:pointer">供应商考核登记</a>
                                        <a data-ui-sref-active="active" data-ui-sref="supplierToturManage" style="cursor:pointer">供应商辅导管理</a>
                                        <a data-ui-sref-active="active" data-ui-sref="supplierAuditToGrade" style="cursor:pointer">供应商稽核评分</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left" style="width:{{navLayout.navLeftSize}};" ng-hide="navLayout.navViewSwitch">
                        <span class="badge" ng-click="navLayout.switchView()" title="点击打开导航面板" style="cursor:pointer"><i class="fa fa-hand-o-right"></i></span>
                    </div>
                    <div class="pull-right" style="width:{{navLayout.navMainSize}};">
                        <div data-ui-view>

                        </div>
                    </div>
                </div>
            </main>
        </div>
    }

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angularJs")

    @Scripts.Render("~/bundles/anstrap")

    <script src="@Url.Content("~/Content/ztree/dist/js/jquery.ztree.all.min.js")"></script>

    <script src="@Url.Content("~/Scripts/controller/masterProduct/mpConfigApp.js")"></script>

    <script src="@Url.Content("~/Scripts/common/angulee.js")"></script>
    <script src="@Url.Content("~/Scripts/common/commDirective.js")"></script>

    <script src="@Url.Content("~/Scripts/controller/purchase/purchaseApp.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/purchase/purSupplierManage.js")"></script>
</body>
</html>