@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="eicPlatform.loginApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>光圣科技信息管理平台</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/login/lmlogo.png")" />
    <link href="@Url.Content("~/Content/bootstrap/dist/css/bootstrap.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootwatch/cerulean.bootstrap.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/main.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/login/login.css")" type="text/css" rel="stylesheet" />
</head>
<body >


    <div class="container" ng-controller="loginCtrl">
        @*<style>
            .login-form:before {
                content: "";
                position: absolute;
                top: -50px;
                left: 165px;
                width: 102px;
                height: 102px;
                padding: 2px;
                border: 1px solid rgb(216,216,219);
                background: #fff url("{{headPortrait}}");
                background-size: cover;
                border-radius: 50px;
            }
        </style>*@
        <div class="row navigationBg" >
            <div class="col-md-6">
              
            </div>
            @*<div class="col-md-5 loginBg">*@
                <div class="col-md-5 ">                
                    <form class="form-horizontal login-form"
                          name="loginForm" method="post" novalidate role="form" onkeypress="if (event.keyCode === 13) return false;">
                        <div class="login-inputcontent">
                            
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="userId"></label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                                        <input class="form-control" name="userId" type="text" ng-keypress="moveFocusToPassword($event,'passwordFocus')"
                                               ng-model="vm.userId" autofocus required placeholder="请输入工号" />
                                    </div>
                                    <div class="error-messages" ng-messages="loginForm.userId.$error" ng-if="loginForm.userId.$touched">
                                        <small ng-message="required">用户名不能为空</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group login-inputpassword">
                                <label class="control-label col-sm-3" for="password"></label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input class="form-control" type="password" name="password" focus-if="focus.passwordFocus" focus-setter
                                               ng-keypress="moveFocusToPassword($event,'loginFocus')"
                                               ng-model="vm.password" required placeholder="请输入密码" />
                                    </div>
                                    <div class="error-messages" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                                        <small ng-message="required">密码不能为空</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-4" ng-cloak>
                                    <button type="submit" class="btn btn-primary  login-button" focus-if="focus.loginFocus" focus-setter
                                            ng-keypress="loginCheck(loginForm.$valid)" ng-click="loginCheck(loginForm.$valid)"
                                            id="btnlogin">
                                        登录
                                        <span class="glyphicon glyphicon-log-in"></span>
                                        <img src="~/Content/login/input-spinner.gif" class="pull-right" ng-if="vm.start" />
                                    </button>
                                    <div class="alert alert-danger" ng-hide="loginResult.isSuccess">
                                        <span class="text-danger">{{loginResult.message}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="navbar navbar-fixed-bottom">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <span class="footer-links">&nbsp;&nbsp;&nbsp;&nbsp;版权:光圣科技(宁波)有限公司 &nbsp;&nbsp;&nbsp;&nbsp;  技术支持:讯息中心 </span>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>



    <script src="@Url.Content("~/Scripts/jquery-2.1.4.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/underscore/underscore-min.js")"></script>
    <script src="@Url.Content("~/Scripts/common/angulee.js")"></script>
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-messages.min.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/account/loginApp.js")"></script>
</body>
</html>